In [48]:
#testing results with Lasso and Elastic Net - expected 15/260 most important features
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso, ElasticNet

from yellowbrick.classifier import ROCAUC
from yellowbrick.classifier import ConfusionMatrix

/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [17]:
all_data = pd.read_csv('../data/election_census_final')
description = pd.read_csv('../data/var_description.csv')

In [20]:
y = all_data.target

In [21]:
X = all_data.iloc[:, 8:268]

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

In [85]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit(X_test)
elastic_net = ElasticNet(alpha=0.1, l1_ratio=0.5, random_state=0, positive=True)
model = elastic_net.fit(X_train_scaled, y_train)
features = pd.DataFrame(model.coef_, columns=['Importance'], index=range(260))
features.head(2)

   Importance
0         0.0
1         0.0

In [86]:
features_names_df = pd.DataFrame(X.iloc[0, :].T)
features_names_df.reset_index(inplace=True)
features_names_df.columns = ['Code','0']
features_names_df = features_names_df.drop(columns=['0'])
features_names_df.index = range(260)
features_names_df.head(2)

          Code
0  DP05_0050PE
1  DP03_0048PE

In [88]:
new_df = pd.merge(features, features_names_df, left_index=True, right_index=True)
new_df.head(5)

   Importance         Code
0         0.0  DP05_0050PE
1         0.0  DP03_0048PE
2         0.0  DP04_0029PE
3         0.0  DP03_0022PE
4         0.0  DP04_0003PE

In [90]:
description.head()
description.columns=(["Code", "Label"])

In [92]:
top_features_df = pd.merge(new_df, description, on='Code')
top_features_df.head(5)

   Importance         Code                                              Label
0         0.0  DP05_0050PE    Race Total Population One Race Asian Vietnamese
1         0.0  DP03_0048PE   Class Of Worker Civilian Employed Population ...
2         0.0  DP04_0029PE                  Rooms Total Housing Units 2 Rooms
3         0.0  DP03_0022PE   Commuting To Work Workers 16 Years And Over W...
4         0.0  DP04_0003PE   Housing Occupancy Total Housing Units Vacant ...

In [97]:
pd.set_option('display.max_colwidth', -1)
top_features_df.sort_values(by='Importance', ascending=False)

,Importance,Code,Label
29,0.076624,DP05_0077PE,Hispanic Or Latino And Race Total Population Not Hispanic Or Latino White Alone
227,0.043290,DP04_0104PE,Selected Monthly Owner Costs (Smoc) Housing Units Without A Mortgage $250 To $399
31,0.030904,DP05_0064PE,Race Alone Or In Combination With One Or More Other Races Total Population White
238,0.028854,DP03_0030PE,Occupation Civilian Employed Population 16 Years And Over Natural Resources Construction And Maintenance Occupations
166,0.018147,DP04_0128PE,Gross Rent Occupied Units Paying Rent $500 To $999
240,0.016705,DP04_0046PE,Housing Tenure Occupied Housing Units Owner-Occupied
153,0.012777,DP05_0037PE,Race Total Population One Race White
133,0.005481,DP04_0007PE,Units In Structure Total Housing Units 1-Unit Detached
126,0.005254,DP04_0042PE,Bedrooms Total Housing Units 3 Bedrooms
256,0.005031,DP04_0082PE,Value Owner-Occupied Units $50 000 To $99 999
56,0.002236,DP03_0019PE,Commuting To Work Workers 16 Years And Over Car Truck Or Van Drove Alone
169,0.000000,DP03_0080PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Families $35 000 To $49 999
176,0.000000,DP05_0060PE,Race Total Population Two Or More Races White And American Indian And Alaska Native
168,0.000000,DP04_0008PE,Units In Structure Total Housing Units 1-Unit Attached
171,0.000000,DP05_0073PE,Hispanic Or Latino And Race Total Population Hispanic Or Latino (Of Any Race) Puerto Rican
172,0.000000,DP04_0039PE,Bedrooms Total Housing Units No Bedroom
173,0.000000,DP04_0026PE,Year Structure Built Total Housing Units Built 1939 Or Earlier
167,0.000000,DP03_0027PE,Occupation Civilian Employed Population 16 Years And Over Management Business Science And Arts Occupations
174,0.000000,DP05_0007PE,Sex And Age Total Population 10 To 14 Years
175,0.000000,DP03_0045PE,Industry Civilian Employed Population 16 Years And Over Public Administration
170,0.000000,DP04_0092PE,Mortgage Status Owner-Occupied Units Housing Units Without A Mortgage
177,0.000000,DP03_0134PE,Percentage Of Families And People Whose Income In The Past 12 Months Is Below The Poverty Level All People 18 Years And Over 18 To 64 Years
164,0.000000,DP04_0074PE,Selected Characteristics Occupied Housing Units Lacking Complete Kitchen Facilities
178,0.000000,DP03_0058PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Total Households $75 000 To $99 999
179,0.000000,DP04_0133PE,Gross Rent Occupied Units Paying Rent $3 000 Or More
180,0.000000,DP04_0013PE,Units In Structure Total Housing Units 20 Or More Units
181,0.000000,DP04_0120PE,Selected Monthly Owner Costs As A Percentage Of Household Income (Smocapi) Housing Unit Without A Mortgage (Excluding Units Where Smocapi Cannot Be Computed) 15.0 To 19.9 Percent
182,0.000000,DP05_0038PE,Race Total Population One Race Black Or African American
183,0.000000,DP03_0076PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Families Less Than $10 000
184,0.000000,DP04_0031PE,Rooms Total Housing Units 4 Rooms
...,...,...,...
82,0.000000,DP05_0026PE,Sex And Age Total Population 18 Years And Over Male
69,0.000000,DP03_0059PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Total Households $100 000 To $149 999
70,0.000000,DP05_0074PE,Hispanic Or Latino And Race Total Population Hispanic Or Latino (Of Any Race) Cuban
71,0.000000,DP04_0138PE,Gross Rent As A Percentage Of Household Income (Grapi) Occupied Units Paying Rent (Excluding Units Where Grapi Cannot Be Computed) 15.0 To 19.9 Percent
72,0.000000,DP03_0002PE,Employment Status Population 16 Years And Over In Labor Force
73,0.000000,DP05_0008PE,Sex And Age Total Population 15 To 19 Years
74,0.000000,DP05_0061PE,Race Total Population Two Or More Races White And Asian
75,0.000000,DP03_0135PE,Percentage Of Families And People Whose Income In The Past 12 Months Is Below The Poverty Level All People 18 Years And Over 65 Years And Over
76,0.000000,DP03_0122PE,Percentage Of Families And People Whose Income In The Past 12 Months Is Below The Poverty Level Married Couple Families
77,0.000000,DP03_0020PE,Commuting To Work Workers 16 Years And Over Car Truck Or Van Carpooled
78,0.000000,DP05_0039PE,Race Total Population One Race American Indian And Alaska Native
79,0.000000,DP03_0033PE,Industry Civilian Employed Population 16 Years And Over Agriculture Forestry Fishing And Hunting And Mining
80,0.000000,DP04_0036PE,Rooms Total Housing Units 9 Rooms Or More
81,0.000000,DP03_0064PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Total Households With Earnings
83,0.000000,DP04_0010PE,Units In Structure Total Housing Units 3 Or 4 Units
97,0.000000,DP03_0029PE,Occupation Civilian Employed Population 16 Years And Over Sales And Office Occupations
84,0.000000,DP04_0023PE,Year Structure Built Total Housing Units Built 1960 To 1969
85,0.000000,DP03_0077PE,Income And Benefits (In 2017 Inflation-Adjusted Dollars) Families $10 000 To $14 999
86,0.000000,DP03_0118PE,Health Insurance Coverage Civilian Noninstitutionalized Population Civilian Noninstitutionalized Population 19 To 64 Years Not In Labor Force No Health Insurance Coverage
87,0.000000,DP04_0054PE,Year Householder Moved Into Unit Occupied Housing Units Moved In 1990 To 1999
88,0.000000,DP05_0013PE,Sex And Age Total Population 55 To 59 Years
89,0.000000,DP04_0130PE,Gross Rent Occupied Units Paying Rent $1 500 To $1 999
90,0.000000,DP04_0067PE,House Heating Fuel Occupied Housing Units Coal Or Coke
91,0.000000,DP03_0105PE,Health Insurance Coverage Civilian Noninstitutionalized Population Civilian Noninstitutionalized Population 19 To 64 Years In Labor Force Employed With Health Insurance Coverage
92,0.000000,DP04_0041PE,Bedrooms Total Housing Units 2 Bedrooms
93,0.000000,DP05_0057PE,Race Total Population One Race Some Other Race
94,0.000000,DP05_0044PE,Race Total Population One Race Asian
95,0.000000,DP04_0085PE,Value Owner-Occupied Units $200 000 To $299 999
96,0.000000,DP03_0136PE,Percentage Of Families And People Whose Income In The Past 12 Months Is Below The Poverty Level People In Families
259,0.000000,DP03_0039PE,Industry Civilian Employed Population 16 Years And Over Information

In [52]:
#this is way we could not use Lass0 --> too many correlated features
lasso_reg = Lasso()
lass_features  = lasso_reg.fit(X_train_scaled, y_train).coef_